<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/admin.css">
    <title>AdminConfig</title>
</head>

<body>
    <div id="black-curtain" isVisible="true"></div>
    <div id="add-product-panel" isVisible="false" >
        <span id="add-panel-title">Agregar Productos</span>
        <form action="/addProduct" method="post" class="container">
            <!-- header -->
            <div class="row">
                <div class="col">
                    <div class="row space">
                        <label class="add-panel-label">Código único (Autogenerado):</label>
                        <input type="text" name="code" id="input-code" class="add-panel-input" value="20221001"
                            disabled>
                    </div>
                    <div class="row space">
                        <label for="input-name" class="add-panel-label">Nombre del producto:</label>
                        <input type="text" name="name" id="input-name" class="add-panel-input" required
                            placeholder="Digita el nombre del producto">
                    </div>
                </div>
                <div class="col center">
                    <div id="add-panel-containerbtnimg">
                        <label for="add-panel-img" class="label-panel-img"><img src="/resource/noimage.svg" width="9vw" class="myimg" alt=""></label>
                        <input type="file" name="img" class="add-panel-img" accept="image/png,image/jpeg,image/jpg">
                    </div>
                    <label for="add-panel-img" class="add-panel-loadimg">Cargar imagen</label>
                </div>
            </div>
            <!--  main  -->
            <div class="row" id="add-panel-descpart">
                <label for="input-desc" class="row add-panel-label">Descripción del producto:</label>
                <div class="col">
                    <textarea type="text" name="description" id="input-desc" class="add-panel-input col" required
                        placeholder="Digita una descripcion del producto"></textarea>
                </div>
                <div class="col">
                    <div class="row space">
                        <div class="col flex">
                            <label class="add-panel-label inline">Mascota:</label>
                        </div>
                        <div class="col">
                            <div class="dropdown">
                                <button class="comboboxpet" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img class="mascota-filter-btn" src="resource/btnfiltromascotas.png"
                                        alt="btnfiltromascota">
                                </button>
                                <ul class="dropdown-menu">
                                    <li class="cbperritos"><img class="mascota-filter-btn" src="resource/cbperritos.png"
                                            alt="btnfiltromascota">
                                    </li>
                                    <li class="cbgatitos"><img class="mascota-filter-btn" src="resource/cbgatitos.png"
                                            alt="btnfiltromascota"></li>
                                    <li class="cbpececitos"><img class="mascota-filter-btn" src="resource/cbpececitos.png"
                                            alt="btnfiltromascota">
                                    </li>
                                    <li class="cbpajaritos"><img class="mascota-filter-btn" src="resource/cbpajaritos.png"
                                            alt="btnfiltromascota">
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col">
                            <input type="text" name="typepet" id="input-typepet" class="add-panel-input center"
                                placeholder="selecciona el tipo..." required disabled>
                        </div>
                    </div>
                    <div class="row space">
                        <label for="input-mark" class="add-panel-label">Marca:</label>
                        <input type="text" name="mark" id="input-mark" class="add-panel-input" required
                            placeholder="Digita la marca del producto">
                    </div>
                    <div class="row space">
                        <label for="input-price" class="add-panel-label">Precio:</label>
                        <input type="text" name="price" id="input-price" class="add-panel-input" required
                            placeholder="Digita el precio del producto">
                    </div>
                    <div class="row space">
                        <label for="input-quanty" class="add-panel-label">Cantidad en stock:</label>
                        <input type="text" name="quanty" id="input-quanty" class="add-panel-input" required
                            placeholder="Digita la cantidad total recibida del producto">
                    </div>
                    <div class="row space">
                        <div class="col center">
                            <input type="reset" class="cancel-button" onclick="cancelButton(event)" value="Cancelar">
                        </div>
                        <div class="col center">
                            <button type="submit" class="proceed-button">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <div id="search-panel" isVisible="true">
        <span id="add-panel-title">Modificar Productos</span>
        <form action="/modify" method="get">
            <!-- head -->
            <label for="input-id" class="row add-panel-label">Ingrese el código único del producto:</label>
            <input type="text" name="id" id="input-id" class="row add-panel-input">
            <button type="button" id="button-search" class="row space" state="enabled">Buscar</button>

            <!-- content -->

            <div class="row">
                <div class="col-md-5">
                    <div id="add-panel-containerbtnimg">
                        <label for="search-panel-img" class="label-panel-img"><img src="/resource/chunky.jpg" class="myimg" alt=""></label>
                        <input type="file" name="img" class="add-panel-img" id="search-panel-img" accept="image/png,image/jpeg,image/jpg">
                    </div>
                    <label for="search-panel-img" class="add-panel-loadimg">Cargar imagen</label>
                </div>
                <div class="col-md-7">
                    <label for="input-name-search" class="row add-panel-label">Nombre del producto:</label>
                    <input type="text" name="id" id="input-name-search" class="row add-panel-input width-100">
                    <label for="input-mark-search" class="row add-panel-label">Marca:</label>
                    <input type="text" name="id" id="input-mark-search" class="row add-panel-input width-100 space">
                    <div class="row">
                        <label for="input-typepet-search" class="col add-panel-label contents">Mascota:</label>
                        <div class="dropdown contents col">
                            <button class="comboboxpet" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img class="mascota-filter-btn" src="resource/btnfiltromascotas.png"
                                    alt="btnfiltromascota">
                            </button>
                            <ul class="dropdown-menu">
                                <li class="cbperritos"><img class="mascota-filter-btn2" src="resource/cbperritos.png"
                                        alt="btnfiltromascota">
                                </li>
                                <li class="cbgatitos"><img class="mascota-filter-btn2" src="resource/cbgatitos.png"
                                        alt="btnfiltromascota"></li>
                                <li class="cbpececitos"><img class="mascota-filter-btn2" src="resource/cbpececitos.png"
                                        alt="btnfiltromascota">
                                </li>
                                <li class="cbpajaritos"><img class="mascota-filter-btn2" src="resource/cbpajaritos.png"
                                        alt="btnfiltromascota">
                                </li>
                            </ul>
                        </div>
                        <input type="text" name="id" id="input-typepet-search" class="col add-panel-input" disabled>
                    </div>
                </div>
            </div>
            <label for="search-desc-id" class="add-panel-label row"> Descripción del producto:</label>
            <div class="row">
                <div class="col-md-7">
                    <textarea name="id" id="search-desc-id" class="row add-panel-input"></textarea>
                </div>
                <div class="col-md-5">
                    <label for="search-price-id" class="row add-panel-label">Precio:</label>
                    <input type="text" name="id" id="search-price-id" class="row add-panel-input">
                    <label for="search-pricede-id" class="row add-panel-label">Pre con descuento:</label>
                    <input type="text" name="id" id="search-pricede-id" class="row add-panel-input">
                    <label for="search-quanty-id" class="row add-panel-label">Cantidad en stock:</label>
                    <input type="text" name="id" id="search-quanty-id" class="row add-panel-input">
                </div>
            </div>
        </form>
    </div>
    <header id="header">
        <img id="logo" src="resource/logoilp.png" alt="logoilp">
        <span id="admin-t" class="col">
            <span id="title-admin">Administrador(a):</span> 
            <span>Cristian David Parada Martinez</span>
        </span>
        <button id="user-info">
            <img id="t-image" src="resource/user.png" alt="fotoperfil" width="30%">
            <a id="t-user" href="#"><br>Cerrar Sesion</a>
        </button>
    </header>
    </div>
    <main id="content">
        <span id="title" class="row">Bienvenido(a): a continuación podrá elegir alguna de las siguientes opciones para
            administrar el negocio. </span>
        <div class="separator"></div>
        <div id="group-buttons">
            <button id="addp" class="btn">
                <img src="resource/addproductsbtn.png" alt="a" width="100%">
            </button>
            <button id="modp" class="btn">
                <img src="resource/modproductsbtn.png" alt="a" width="100%">
            </button>
            <button id="remp" class="btn">
                <img src="resource/removproductsbtn.png" alt="a" width="100%">
            </button>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <script src="js/admin.js"></script>
</body>

</html>