body {
    margin: 0;
    background-size: 100%;
    font-family: 'Calibri (Cuerpo)', 'Arial Narrow', Arial, sans-serif;
    background-image: url('https://i.postimg.cc/vmsVtv1z/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#liveAlertPlaceholder{
    display: inline;
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.alert-success{
    font-size: 1.2vw;
    background: #b3ffa6;
    font-weight: bold;
    border-color: black;
    border-width: 0.3vh;
    border-style: solid;
}

#header {
    background-color: rgb(0, 176, 240, 0.9);
    width: 100%;
    display: flex;
    align-items: center;
}

#lupa {
    width: 2vw;
}

::-webkit-scrollbar {
    display: none;
}

#logo {
    margin: 10px 0px 10px 10px;
    width: 10%;
}

#search-bar {
    display: flex;
    width: 70%;
    height: 5vh;
    background-color: white;
    border-radius: 10px;
    padding-right: 20px;
    margin-left: 3%;
    border-color: black;
    border-width: 0.3vh;
    border-style: solid;
}

#search-bar-send {
    background-color: transparent;
    border: none;
}

#text-search {
    width: 100%;
    height: 4vh;
    background-color: transparent;
    text-align: center;
    font-size: 1.4vw;
    resize: none;
    border: none;
}

#mascota-filter {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    align-items: center;
}

#mascota-filter-text {
    font-size: 1.4vw;
    margin-right: 1%;
}

#mascota-filter-btn,
#dropdown {
    width: 4vw;
    margin-left: 5%;
}

#mascota-filter-btn:hover{
    box-shadow: 0 0 20px white;
}


#cbperritos {
    background-color: #FD6F6F;
}

#cbgatitos {
    background-color: #FFC000;
}

#cbpececitos {
    background-color: #00B0F0;
}

#cbpajaritos {
    background-color: #00B050;
}

#cbmascotas {
    background-color: #F59E29;
}

.dropdown-menu {
    --bs-dropdown-link-hover-bg: none;
    --bs-dropdown-link-active-bg: none;
}

#comboboxpet {
    background-color: transparent;
    border: 0px;
}

#carrito-compras {
    position: relative;
    background-color: transparent;
    border: none;
    width: 5%;
}

#carrito-burbble{
    font-family: "Calibri (Cuerpo)";
    font-weight: bold;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    top: 10%;
    width: 45%;
    font-size: 0.8vw;
    border-color: black;
    border-width: 0.35vh;
    border-style: solid;
}

#carrito-compras-valor{
    font-size: 1.3vw;
    font-style: italic;
}


#user-info {
    margin-left: 7%;
    margin-right: 2%;
    margin-top: 1%;
    text-align: center;
    background-color: transparent;
    border: none;
}

#t-user {
    color: black;
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.4vw;
    margin-right: 10px;
    text-align: center;
}

#content {
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    width: 97%;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 25px;
    padding: 4px 15px 50px 15px;
    align-items: center;

    border-color: black;
    border-width: 0.4vh;
    border-style: solid;
}

.content-header {
    margin-left: 4%;
    font-size: 2vw;
}

#items-filter {
    float: right;
}

#items-btnfilter {
    font-size: 1vw;
    background-color: rgb(240, 248, 255);
    border-radius: 10px;
}

#filter-btn {
    width: 40%;
}

.separator {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: black;
    width: 100%;
    height: 2px;
}

.card-item {
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    border-radius: 10px;
    border-color: black;
    border-width: 0.35vh;
    border-style: solid;
    width: 11%;
    height: auto;
}

.card-item:hover {
    box-shadow: 0 0 40px white;
    border-color: white;
    cursor: pointer;
}

.card-tittle {
    font-size: 1.5vw;
    color: white;
    display: block;
}

.card-description {
    font-size: 1vw;
    color: black;
    display: block;
}

.card-price {
    font-size: 1.3vw;
    color: white;
    display: block;
}

.card-nameitem {
    font-size: 1.5vw;
    font-weight: bolder;
    display: block;
}

.card-btn-add {
    width: 50%;
    border-radius: 20px;
    margin-top: 5px;
    border-color: black;
    border-width: 0.3vh;
    border-style: solid;
    background-color: red;
    font-size: 0.9vw;
    color: white;
}

.card-btn-add:hover, .card-btn-less:hover, .card-btn-max:hover{
    border-color: white;
}

.card-nitems {
    font-size: 1.5vw;
    color: white;
    font-weight: bolder;
}

.card-btn-less {
    width: 15%;
    border-radius: 50%;
    float: left;
    background-color: #ED7D31;
    border-color: black;
    border-width: 0.3vh;
    border-style: solid;
    font-size: 0.9vw;
    color: white;
}

.card-btn-max {
    width: 15%;
    border-radius: 50%;
    float: right;
    color: white;
    background-color: #70AD47;
    border-color: black;
    border-width: 0.3vh;
    font-size: 0.9vw;
    border-style: solid;
}

.group-cards {
    margin-left: 3%;
    margin-right: 3%;
}

.card-item[type="perro"]{
    background: linear-gradient(to bottom, #9A3737, #FD6F6F);
}
.card-item[type="gato"]{
    background: linear-gradient(to bottom, #A07400, #FFC000);
}
.card-item[type="pez"]{
    background: linear-gradient(to bottom, #006A96, #00B0F0);
}
.card-item[type="ave"]{
    background: linear-gradient(to bottom, #006D2A, #00B050);
}

.card-item[type="perro"] > button[class="card-btn-add"]{
    background-color:#FD5151;
}
.card-item[type="gato"] > button[class="card-btn-add"]{
    background-color:#F2B800;
}
.card-item[type="pez"] > button[class="card-btn-add"]{
    background-color:#00A1DA;
}
.card-item[type="ave"] > button[class="card-btn-add"]{
    background-color:#00A44A;
}

.btntodos {
    color: white;
    font-size: 3.2vw;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    height: auto;
}

.btntodos:hover {
    border-color: white;
    color: white;
}

#btntodos-destacados {
    background: linear-gradient(to bottom, #FB7A23, #934510);
}

#btntodos-perros {
    background: linear-gradient(to bottom, #FD6F6F, #9A3737);
}

#btntodos-gatos {
    background: linear-gradient(to bottom, #FFC000, #A07400);
}

#btntodos-peces {
    background: linear-gradient(to bottom, #00B0F0, #006A96);
}

#btntodos-aves {
    background: linear-gradient(to bottom, #00B050, #006D2A);
}

#panel-login {
    width: 24%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 12%;
    right: 1%;
    display: none;
    border-radius: 20px;
    border-color: black;
    border-width: 0.3vh;
    border-style: solid;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

#title-login {
    text-align: center;
    display: block;
    font-weight: bold;
    font-size: 2vw;
}

#username-login{
    font-weight: bold;
    font-size: 1.5vw;
}

#username-text{
    font-size: 1vw;
    border-radius: 10px;
    border-width: 3px;
    width: 100%;
}

#password-login{
    margin-top: 5%;
    font-weight: bold;
    font-size: 1.5vw;
}

#password-text{
    font-size: 1vw;
    border-radius: 10px;
    border-width: 3px;
    width: 100%;
}

#password-f, #password-f:hover{
    margin-top: 3%;
    font-size: 1.5vw;
    color: black;
    font-weight: bold;
}

#sumbit-login{
    width: 35%;
    font-size: 1.5vw;
    color: black;
    background-color: transparent;
    border-radius: 10px;
    border-color: black;
    border-width: 0.3vh;
    border-style: solid;
    margin-top: 5%;
}

#sumbit-login:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

#panel-carrito{
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.97);
    border-radius: 10px;
    border-color: black;
    border-width: 0.3vh;
    border-style: solid;
    width: 22%;
    height: 70%;
    right: 7%;
    top: 12%;
    text-align: center;
}

#title-carrito{
    text-align: center;
    display: block;
    font-weight: bold;
    font-size: 2vw;
}

#bottom-container{
    position: relative;
    background-color: #00B050;
}

#bottom-carrito{
    width: 95%;
    position: absolute;
    bottom: 0px;
    padding-bottom: 30px;
}

#subtotal-text-carrito{
    text-align: center;
    font-weight: bold;
    font-size: 1.6vw;
}

#total-text-carrito{
    text-align: center;
    font-weight: bold;
    font-size: 1.6vw;
}

#subtotal-value-carrito{
    text-align: center;
    font-size: 1.6vw;
}

#total-value-carrito{
    text-align: center;
    font-size: 1.6vw;
}

#finish-purchase{
    color: white;
    font-size: 1.2vw;
    border-radius: 10px;
    background-color: #ED7D31;
    border-color: black;
    border-width: 0.2vh;
    border-style: solid;
    margin-top: 5%;
}

#pa{
    font-size: 1.2vw;
    text-align: justify;
    color: white;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

